* {
    margin: 0;
    padding: 0;
}

/* -----------------------------------
	 			Body
--------------------------------------*/
html, body {
	height: 100%;
	scroll-behavior: smooth;
	width: 100%;
	color: #fff;
	min-height: 100%;
	overflow-x: hidden;
}

body {
 font-family: 'Lora','Cardo', serif;
}

h1, h2, h3, h4, h5, h6, button {
 font-family: 'Montserrat','Oswald', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

/* -----------------------------------
	 		Global Elements
--------------------------------------*/


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  opacity: .5;
  color: var(--dark); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 150px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #EEE; /* Add a dark-grey background on hover */
}

img {
	width: 100%;
}

/* buttons */

.sign-up {
	/* background-color: rgb(229,190,31); */
	background-color:  #ffce00;
}
.submit-button {
	background-color: rgb(44,189,189);
}
/* -----------------------------------
	 			Navbar
--------------------------------------*/
/* Make navbar sticky to top of page */

.navbar {
	background-color: #FFFFFF00;
	min-width: 100%;
	/* margin: auto 50px; */
}

#navbar-logo {
	width: 66px;
}

/* For Desktop users */
@media (min-width: 490px) {
	.navbar {
		padding-left: 80px;
		padding-right: 80px;
		/* font-size: 100px; */
	}
	.btn {
		font-size: 20px;
		color: black;
	}
}

/* -----------------------------------
	 			Landing
--------------------------------------*/

.landing {

	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('https://uploads-ssl.webflow.com/5dc98f32673bd931e6f806c0/5dc98f32673bd94867f806ce_nicholas-green-nPz8akkUmDI-unsplash%20(1).jpg');
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	height: 100vh;
	/* display: flex; */
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;

}

#welcome-section {
	padding-left: 15px;
	margin: 50px 0px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: left;
	        align-items: left;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-self: center;
	        align-self: center;
}

div h2 {
	padding: 20px 0;
}

/* For Desktop users  */
@media (min-width: 490px) {
	#welcome-section {
		/* padding-left: 15px; */
		margin: 100px 100px 100px 50px;
		/* height: 50%; */
		width: 39vw;
		/* margin-left: 50px; */
	}
	div h2 {
		font-size: 45px;
	}
}

@media (min-width: 900px) {
	#welcome-section {
		margin: 100px 100px 100px 250px;
	}
}

/* -----------------------------------
	 			Signup
--------------------------------------*/
.signup {
	/* background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('https://uploads-ssl.webflow.com/5dc98f32673bd931e6f806c0/5ddc3e5bcae5d80eb7490c31_group-of-people-watching-band-concert-photo-1047940-p-2000.jpeg'); */
	background-image: radial-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, .5)), url('https://uploads-ssl.webflow.com/5dc98f32673bd931e6f806c0/5ddc3e5bcae5d80eb7490c31_group-of-people-watching-band-concert-photo-1047940-p-2000.jpeg');
	/* background-color: #484D5C; */
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
}

#form-section {
	/* padding: 40px; */
	margin: 0 auto;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-content: center;
	        align-content: center;
}

#form-section h2 {
	/* color: rgb(44,189,189); */
	color: var(--light);
}

#form-section label {
	font-size: x-large;
}

/* -----------------------------------
	 			Footer
--------------------------------------*/
.footer {
	background: #010101;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	        align-items: center;
	text-align: center;

/* 	bottom: 0;
	top:0; */

}
#footer-logo {
	/* width: 40px; */
	max-width: 50px;
	display: block;
	margin: 0 auto;
	padding-bottom: 5px;